<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amadorfc.amadorfc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconeamigos"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.AmadorfcApplication"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name="com.amadorfc.amadorfc.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Splash screen  2-->
        <activity
            android:name="com.amadorfc.amadorfc.SplashScreen2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Splash screen  3-->
        <activity
            android:name="com.amadorfc.amadorfc.SplashScreen3"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMain"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".PrincipalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemePrincial"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".ErroPadraoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemePrincial"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".NoticiaAbertaActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemePrincial"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".FichaPartidaActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemePrincial"
            android:screenOrientation="portrait" >
        </activity>


    </application>

</manifest>